singularity {
  enabled = true
  autoMounts = true
}

process {
  withLabel: 'plink'    { container = 'plink.1.9' }
  withLabel: 'bcftools' { container = 'bcftools.1.20' }
}

params {
  cohorts     = null
  output_dir  = './results'
  maf         = 0.05
  geno        = 0.5
  n_snps      = 10000
  snp_name    = 'SNP Name,Name'
  chr         = 'Chr'
  position    = 'Position'
  allele_ab_a = 'Allele1 - AB'
  allele_ab_b = 'Allele2 - AB'
  allele_a    = 'Allele1 - Top'
  allele_b    = 'Allele2 - Top'
}

profiles {
  local   { includeConfig 'conf/local.config' }
  cluster { includeConfig 'conf/cluster.config' }

  test {
    params {
      cohorts  = "input/cohorts_info.csv"
      manifest = 'input/GSA-24v3-0_A1.csv'
      fasta    = 'input/Homo_sapiens_assembly38.fasta'
      pfb      = "input/dbsnp.pfb"
    }
  }
}
